{{#if enabled}}
    <div {{action 'toggleModal'}} >
        <div class="portfolio-modal-frame">
            <div class="portfolio-modal-title">
                {{title}}
            </div>
            <div class="portfolio-modal-body">
                <p> this is the body </p>
            </div>
        </div>
    </div>
{{/if}}